*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.header,.nave,.container,.footer{
  float:left;
  width:100%;
}
.header{
  background: #0e80d2;
  padding: 0px  0px;
  /*尺寸可以改padding*/
  text-align: center;
}
.nav{
  background: #0a0e50;
  margin: 0px;
}
.nav a{
  color:white;
  padding: 10px 20px ;
  display: inline-block;
}
.nav a:hover{
  background: #0BCCFF;
  color: black;
}
.container{
  margin: 30px;
}
ww {
  font-family: YouYuan;
  font-size:20px;
  text-shadow: 10px 10px 10px brown;
}
table {
  border-collapse: collapse;
  text-align: center;
}

table, td, th {
  border: 1px solid black;
}

.footer{
  padding: 20px;
  margin-top: 50px;
  background-color: #0BCCFF;

}
